// Specific CSS for your home-page
html, body {
  height: 100%;
  background-color: #151619;
  color: #f4f4f4;
  p {
    font-family: 'Heebo', sans-serif;
    font-weight: 300;
  }
}

h1, h2, h3{
  font-family: 'Heebo', sans-serif;
  font-weight: 300;
}
