<div id="push">
  <footer <div class="footer navbar-fixed-bottom"></div>
    <div class="footer-container">
      <nav>
        <h3>Follow Me</h3>
        <ul>
          <li><%= link_to "LinkedIn", "https://www.linkedin.com/in/phuong-to/" %></li>
          <li><%= link_to "Github", "https://github.com/tophu" %></li>
          <li>© Tophu</li>
        </ul>
      </nav>
    </div>
  </footer>
</div>
