<nav>
  <header>
    <span id="nav-brand">Tophu</span>
    <i class="fa fa-bars fa-2x nav-toggle" aria-hidden="true"></i>
  </header>
  <div class="side-navbar">
    <i class="fa fa-times fa-2x nav-toggle" aria-hidden="true"></i>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="https://google.com">About</a></li>
      <li><a href="https://google.com">Web Projects</a></li>
      <li><a href="https://google.com">Video Projects</a></li>
      <li><a href="https://google.com">Contact</a></li>
    </ul>
  </div>
</nav>
