<nav>
  <header>
    <span id="nav-brand" style="color: white">Tophu</span>
    <i class="fa fa-bars fa-2x nav-toggle" aria-hidden="true"></i>
  </header>
  <div class="side-navbar">
    <i class="fa fa-times fa-2x nav-toggle" aria-hidden="true"></i>
    <ul>
      <li><a id="home" href="#">Home</a></li>
      <li><a id="about" href="#about-container">About</a></li>
      <li><a id="web_projects" href="#web-projects-container">Web Projects</a></li>
      <li><a id="video_projects" href="#video-projects-container">Video Projects</a></li>
      <li><a id="contact" href="#contact-container">Contact</a></li>
    </ul>
  </div>
</nav>
<br>
<br>
<br>
