<div class="container">
  <div class="main-body">
    <h1>Phuong To</h1>
    <h2>Web Developer</h2>
    <img src="" width=170px alt="Profile Pic" id="img-profile" class="img-circle">
    <p>Having studied graphic design and worked as a videographer, I have found a strong interest in coding. I've recently completed Le Wagon's Ruby on Rails Full Stack Coding Bootcamp where I built and shipped user-ready web applications. Learning to code has unlocked my hidden potential and skills for the rapid growth in the tech industry. I am extremely excited about my future as a developer and want to continue learning and working on challenging projects.
    </p>

    <div class="button-margin">
      <h3>
        <a class="btn-blue" href="https://www.tophu95.wixsite.com/tophu">Click for more</a>
      </h3>
    </div>
  </div>
</div>
