<div class="container">
  <div id="home-container">
    <div id="main-body">

      <!-- Home Page  -->
      <h1>Phuong To</h1>
      <h3 style="color: #18de8d">Full-Stack Web Developer</h3>
      <!-- <img src="" width=170px alt="Profile Pic" id="img-profile" class="img-circle"> -->
      <br>

    <!-- About Page -->
    <div class="about-container">
      <h3>About</h3>
      <p>Having studied graphic design and worked as a videographer, I have found a strong interest in coding. I've recently completed Le Wagon's Ruby on Rails Full Stack Coding Bootcamp where I built and shipped user-ready web applications. Learning to code has unlocked my hidden potential and skills for the rapid growth in the tech industry. I am extremely excited about my future as a developer and want to continue learning and working on challenging projects.
      </p>
    </div>

      <br>

   <!-- Web Projects -->
     <h3>Web Projects</h3>
   <div class="web-projects-container">
     <div class="web-projects-container">
       <%= cl_image_tag("https://res.cloudinary.com/tophu/image/upload/v1554817523/web_portfolio_projects_0003_Layer_1.jpg", width: 462, height: 240, crop: :fill) %>
       <%= cl_image_tag("https://res.cloudinary.com/tophu/image/upload/v1554817523/web_portfolio_projects_0001_Layer_3.jpg", width: 462, height: 240, crop: :fill) %>
       <%= cl_image_tag("https://res.cloudinary.com/tophu/image/upload/v1554817523/web_portfolio_projects_0002_Layer_2.jpg", width: 462, height: 240, crop: :fill) %>
     </div>
   </div>

<div class="card-deck">
  <div class="card">
    <img src="https://res.cloudinary.com/tophu/image/upload/v1554817523/web_portfolio_projects_0003_Layer_1.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="https://res.cloudinary.com/tophu/image/upload/v1554817523/web_portfolio_projects_0001_Layer_3.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img src="https://res.cloudinary.com/tophu/image/upload/v1554817523/web_portfolio_projects_0002_Layer_2.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>

   <br>

   <!-- Video Projects -->
   <div class="video-projects-container">
    <h3>Video Projects</h3>
   </div>

   <br>

   <!-- Contact -->
   <div class="contact-container">
   <h3>Contact</h3>

   </div>
  </div>
    <!--       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor -->
  </div>
</div>
