<div class="container">
  <div id="home-container">
    <div id="main-body">

      <!-- Home Page  -->
      <h1>Phuong To</h1>
      <h3 style="color: #18de8d">Full-Stack Web Developer</h3>
      <!-- <img src="" width=170px alt="Profile Pic" id="img-profile" class="img-circle"> -->
      <br>

    <!-- About Page -->
    <div class="about-container">
      <h3>About</h3>
      <p>Having studied graphic design and worked as a videographer, I have found a strong interest in coding. I've recently completed Le Wagon's Ruby on Rails Full Stack Coding Bootcamp where I built and shipped user-ready web applications. Learning to code has unlocked my hidden potential and skills for the rapid growth in the tech industry. I am extremely excited about my future as a developer and want to continue learning and working on challenging projects.
      </p>
    </div>

      <br>

   <!-- Web Projects -->
     <h3>Web Projects</h3>
<!--    <div class="web-projects-container">
     <div class="web-projects-container">
       <%= cl_image_tag("https://res.cloudinary.com/tophu/image/upload/v1554817523/web_portfolio_projects_0003_Layer_1.jpg", width: 462, height: 240, crop: :fill) %>
       <%= cl_image_tag("https://res.cloudinary.com/tophu/image/upload/v1554817523/web_portfolio_projects_0001_Layer_3.jpg", width: 462, height: 240, crop: :fill) %>
       <%= cl_image_tag("https://res.cloudinary.com/tophu/image/upload/v1554817523/web_portfolio_projects_0002_Layer_2.jpg", width: 462, height: 240, crop: :fill) %>
     </div>
   </div> -->

<div class="card-deck">
  <div class="card">
    <a href="https://www.sessionstherapy.co.uk/">
      <img src="https://res.cloudinary.com/tophu/image/upload/v1554817523/web_portfolio_projects_0003_Layer_1.jpg" class="card-img-top" alt="...">
    </a>
    <div class="card-body">
        <h5 class="card-title">Sessions</h5>
      <p class="card-text">A client can book & pay online for a therapy session with a therapist, which they can communicate through a face-to-face chat session.</p>
    </div>
  </div>
  <div class="card">
    <a href="https://paris-by-night-cocktails.herokuapp.com/">
      <img src="https://res.cloudinary.com/tophu/image/upload/v1554817523/web_portfolio_projects_0001_Layer_3.jpg" class="card-img-top" alt="...">
    </a>
    <div class="card-body">
      <h5 class="card-title">Paris By Night Cocktails</h5>
      <p class="card-text">The user can add a new cocktail, giving it a name and uploading a picture. They can also edit it, write a review or delete the ingredients.</p>
    </div>
  </div>
  <div class="card">
    <a href="https://fresh-butler.herokuapp.com/">
      <img src="https://res.cloudinary.com/tophu/image/upload/v1554817523/web_portfolio_projects_0002_Layer_2.jpg" class="card-img-top" alt="...">
    </a>
    <div class="card-body">
      <h5 class="card-title">Fresh Butler</h5>
      <p class="card-text">A client can sign up and hire a butler through a booking system. Also, a butler can choose to accept or decline the request.</p>
    </div>
  </div>
</div>

   <br>

   <!-- Video Projects -->
   <div class="video-projects-container">
    <h3>Video Projects</h3>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <a href="https://www.youtube.com/watch?v=AZY40eH6-HU">
          <img src="https://res.cloudinary.com/tophu/image/upload/v1555092809/ezgif.com-video-to-gif-japan-nakama.gif" class="d-block w-100" alt="...">
        </a>
      </div>
      <div class="carousel-item">
        <a href="https://vimeo.com/201903129">
          <img src="https://res.cloudinary.com/tophu/image/upload/v1555092863/ezgif.com-video-to-gif-sip.gif" class="d-block w-100" alt="...">
        </a>
      </div>
      <div class="carousel-item">
        <a href="https://vimeo.com/250542911">
          <img src="https://res.cloudinary.com/tophu/image/upload/v1555092857/ezgif.com-video-to-gif-3-holidays-in-60-seconds.gif" class="d-block w-100" alt="...">
        </a>
      </div>
      <div class="carousel-item">
        <a href="https://vimeo.com/227965731">
          <img src="https://res.cloudinary.com/tophu/image/upload/v1555095984/ezgif.com-video-to-gif-bread_gogi-.gif" class="d-block w-100" alt="...">
        </a>
      </div>
      <div class="carousel-item">
        <a href="https://www.instagram.com/p/Biq4hfml4i-/?utm_source=ig_web_copy_link">
          <img src="https://res.cloudinary.com/tophu/image/upload/v1555093767/ezgif.com-video-to-gif-jung-shim-min.gif" class="d-block w-100" alt="">
        </a>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
   </div>

   <br>

   <!-- Contact -->
   <div class="contact-container">
   <h3>Contact</h3>
    <a href="mailto:tophu95@gmail.com" style="text-decoration: none">Email</a>
   </div>
  </div>
    <!--       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor -->
  </div>
</div>
