<div class="container">
  <div id="home-container">
    <div id="main-body">

      <!-- Home Page  -->

      <h1>Phuong To</h1>
      <h3 style="color: #18de8d">Full-Stack Web Developer</h3>
      <!-- <img src="" width=170px alt="Profile Pic" id="img-profile" class="img-circle"> -->
      <br>

    <!-- About Page -->

      <p>Having studied graphic design and worked as a videographer, I have found a strong interest in coding. I've recently completed Le Wagon's Ruby on Rails Full Stack Coding Bootcamp where I built and shipped user-ready web applications. Learning to code has unlocked my hidden potential and skills for the rapid growth in the tech industry. I am extremely excited about my future as a developer and want to continue learning and working on challenging projects.
      </p>
      <h4>
        <a class="btn-blue" href="https://www.tophu95.wixsite.com/tophu">Click for more</a>
      </h4>
      <br>

   <!-- Web Projects -->
   <div class="web-projects-container">
     <%= cl_image_tag("https://res.cloudinary.com/tophu/image/upload/v1554817523/web_portfolio_projects_0003_Layer_1.jpg", width: 462, height: 240, crop: :fill) %>
     <%= cl_image_tag("https://res.cloudinary.com/tophu/image/upload/v1554817523/web_portfolio_projects_0001_Layer_3.jpg", width: 462, height: 240, crop: :fill) %>
   </div>

   <!-- Video Projects -->

   <!-- Contact -->

    </div>
    <!--       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor -->
  </div>
</div>
