#push {
  height: 180px;
}
.footer-container {
  clear: both;
  position: absolute;
  // position: relative;
  bottom: 0;
  width: 100%;
  height: 60px;
  text-align: center;
  // padding: 50px;
  color: #6E7179;
  ul {
    padding-left: 0px;
    margin: 0 0 0 0;
  }
  li {
    display: inline-block;
    a {
      text-decoration: none;
      color: #6E7179;
      margin-right: 50px;
      transition: 0.3s;
      &:hover {
        color: white;
      }
    }
  }
}
